{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 85,
	"bracketSpacing": true,
	"semi": false,
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll": true
  },
  "vetur.format.defaultFormatter.html": "prettyhtml",
  "vetur.format.defaultFormatter.js": "prettier-eslint"
}